@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 0.7rem;
}
p {
  font-size: 0.9rem;
  color: #d8d8d8;
}
.social_links {
  padding: 1rem;
  /* border-radius: 1rem; */
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social_links .combo {
  transform: scale(0.9);
  transition: 0.4s ease-in;
  margin: 0 0.5rem;
  height: 3em;
  width: 3em;
  line-height: 3em;
}
.combo .circle {
  color: rgb(140, 147, 209);
  transition: 0.4s ease-in;
  font-size: 3em;
}
.combo .icon {
  color: #444343;
  font-size: 2rem;
  transform: translateY(1px);
  transition: 0.2s ease-in;
}
.combo:hover {
  transform: scale(1.1);
}
.combo:hover,
.combo:hover .icon {
  color: white;
}
.ig:hover,
.ig:hover .circle {
  color: #e91e63;
}
.fb:hover,
.fb:hover .circle {
  color: #2196f3;
}
.yt:hover,
.yt:hover .circle {
  color: #f44336;
}
.tw:hover,
.tw:hover .circle {
  color: #2196f3;
}
.gt:hover,
.gt:hover .circle {
  color: #1f1f1f;
}
.developer {
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  letter-spacing: 0.8mm;
  color: rgb(140, 147, 209);
}
