<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span class="developer d-flex justify-content-center mt-4 mb-n5">Zeynep İşbay|april 2021</span>
    <div class="social_links">
        <a target="_blank" href="https://www.linkedin.com/in/zeynepisbay/">
            <span class="fa-stack fa-lg tw combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
            </span>
        </a>
        <a target="_blank" href="https://github.com/zeynepisbay">
            <span class="fa-stack fa-lg gt combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse icon"></i>
            </span>
        </a>
        <a target="_blank" href="https://twitter.com/zeynepisbayy">
            <span class="fa-stack fa-lg tw combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
            </span>
        </a>
        <a target="_blank" href="https://www.instagram.com/zeynepisbay/">
            <span class="fa-stack fa-lg ig combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
              </span>
        </a>
    </div>